<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
<style type="text/css">
.registration{

}
</style>
</head>
<body background="yellow">
<form class="registration" method="post">
	First Name<input type="text" name="first_name" placeholder="First Name"><br>
	First Name<input type="text" name="last_name" placeholder="Last Name"><br>
	First Name<input type="text" name="username" placeholder="Username"><br>
	First Name<input type="email" name="email" placeholder="email"><br>
	First Name<input type="password" name="password1" placeholder="password"><br>
	First Name<input type="password" name="password2" placeholder="Comfirm password"><br>
	<input type="submit" name="">
</form>
</body>
</html>